<div class="panel panel-warning">
 <div class="panel-heading">
  <h3 class="panel-title">Mon compte</h3>
</div>
<div class="panel-body">

  <br>
  <div class="row">
  <div class="col-md-3 col-sm-4 hidden-xs pull-right">
        <img class="img-responsive text-center" src="/img/preview.jpg">
     </div>

     <blockquote>
        <p>Bonjour, Samuel travaille actuellement <u>comme un petit fou</u> sur ce module afin de vous permettre de personnaliser l'aspect de <b>votre</b> portail Intranet.</p>
        <small>Si vous voulez l'aider à aller plus vite, offrez-lui un café :)</small>
     </blockquote>
  </div>
  <br>
  <br>

  <p>En attendant, vous pouvez retourner à l'accueil en cliquant <a href="#/">ici</a>.</p>

</div>
</div>